@page "/AddProject"
@model SibersProject.Pages.AddProjectModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Добавление проекта";
}

<form method="post">
    <div class="form-group">
        <label asp-for="ProjectInput.ProjectName"></label>
        <input asp-for="ProjectInput.ProjectName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ProjectInput.CustomerCompany"></label>
        <input asp-for="ProjectInput.CustomerCompany" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ProjectInput.ExecutorCompany"></label>
        <input asp-for="ProjectInput.ExecutorCompany" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ProjectInput.StartDate"></label>
        <input asp-for="ProjectInput.StartDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ProjectInput.EndDate"></label>
        <input asp-for="ProjectInput.EndDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ProjectInput.Priority"></label>
        <input asp-for="ProjectInput.Priority" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ProjectInput.ProjectManagerId"></label>
        <select asp-for="ProjectInput.ProjectManagerId" asp-items="@Model.SelectEmloyees" class="form-control">
            <option value="">Выберите руководителя</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>



