@page "{id:int}"
@model SibersProject.Pages.Project.DeleteProjectModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Удалить проект";
}
<div>Вы уверены что хотите удалить <b>@Model.ProjectDelete.ProjectName</b> ?</div>
<form method="post">
    <input type="hidden" asp-for="ProjectDelete.ProjectId" />

    <input type="submit" value="Да" />
    <input type="button" asp-page="/ProjectsShow" value="Нет" />
</form>
